{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-3"> 
    <div class="container-sm px-3 px-lg-4 my-3">
        <div class="text-center text-white">
            <h1 class="fw-bolder" style="font-size: 1.5rem;">Hakkımızda</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
<p align="justify">
Elektronik devre dizayn, yazılım geliştirme ve sayaç sektörüne danışmanlık konularında faaliyet gösteren Mühendislik ve Ar-Ge firmasıdır. KAYI akıllı sayaç sistemlerine dayalı olarak geliştirdiği ürünlerle sektörde yenilikçi çözümler sunan bir yapıdadır.Firmamız öncelikle ulusal bazda mühendislik hizmetlerinin iyileştirilmesi ve bununla birlikte endüstriyel seviyede üretim sektörünün geliştirilmesi amacıyla, Hacettepe Ünivertsitesi Teknoloji Geliştirme Merkezinde, 2014 yılında kurulmuştur. Misyonumuz ulusal bazda mühendislik hizmetlerinin iyileştirilmesi ve endüstriyel seviyede üretim sektörünün gelişmesi amacıyla; Tasarım, Analiz, Proje, Danışmanlık, Teknik yazılım ve Ar-Ge hizmetleri sunmaktır. KAYI ENERJİ olarak vizyonumuz, Bilgisayar Destekli Mühendislik, Danışmanlık ve Yazılım sektörlerinde uluslararası ve ulusal platformlarda saygın, dürüst, işini zamanında bitiren, başarılı partner olarak anılmaktır.
<br/><br/>
</p>
<br/><br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}