{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-3"> 
    <div class="container-sm px-3 px-lg-4 my-3">
        <div class="text-center text-white">
            <h1 class="fw-bolder" style="font-size: 1.5rem;">İletişim</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
<p align="justify">
TELEFON
<br/><br/>
+90 312 995 00 95
<br/><br/>
</p>
<br/><br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}